ul#nav
    li
        a(href="/", title="Home") Home
    if(!session.auth)
        li
            a(href="/signup") Register
    else
        li
            a(href="/profile") Profile
#userbox
    include login
