center
    h1= title
    h3 Finally remember what you thought about people and their online comments
    br
    h4 Sign up for access to Greasemonkey scripts which will let you track your own comments on users of various websites.
    h4 You can submit a comment about a particular user and then later load your prior comments about that user.
    br
    .text Support for:
    ul
      li
        a(href="www.seekingalpha.com") www.seekingalpha.com
      li
        a(href="news.ycombinator.com") news.ycombinator.com