- if(!session.auth)
    form(action="/login",method="post",id="loginForm")
        input(type="text",name="login[url]",hidden=true,id='loginBaseUrl',class="formspecial")
        table#loginTable
            tr
                td Username: 
                td
                    input(type="text",name="login[email]",size="15",class="formspecial")
                td Password: 
                td
                    input(type="password",name="login[pass]",size="15",class="formspecial")
                td
                    input(type="submit",value="Login")
- else
    -var name = session.name
    ul#nav
        li
            p Welcome, #{name}
        li
            a(href="/logout") Logout
