if(!session.auth)
  a(href="/") Home
  br
  .text Login first please
else
  .text Your script id is: #{scriptId}
  br
  -for site in sites
    a(href="/getUserFile/#{site}/#{site}.user.js") Install Greasemonkey script.
    br
    a(href="/getUserFile/#{site}/get") View Greasemonkey script.