if(!session.auth)
  a(href="/") Home
  br
  .text Login first please
else
  a(href="/getUserFile/user_tracker.user.js") Install Greasemonkey script.
  br
  a(href="/getUserFile") View Greasemonkey script.
  br
  .text Your script id is: #{scriptId}